<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del apartamento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <article class="container">
        <h1>
            <%= selectedApartment.title %>
        </h1>
        <header> <del style="color: rgb(190, 182, 182)">
                <%= selectedApartment.price %>
            </del>
            <%= selectedApartment.price * 0.9 %> € por noche
        </header>
        <img src="<%= selectedApartment.mainPhoto %>" alt="">
        <div>
            <%= selectedApartment.description %>
        </div>
        <footer>
            <%= selectedApartment.size %> m<sup>2</sup>
        </footer>
    </article>
    <footer class="container">
        Soy administrador? <%= isAdmin %>
            <% if (isAdmin) { %>
                <a href="/admin/apartment/<%= selectedApartment._id %>/edit/">Editar apartamento</a>
                <% } else { %>
                    <!-- Si no soy adminitrador. TODO: valorar si permitir al admin también hacer reservas -->
                    <!-- TODO 1. Crear los controles de formulario necesarios para realizar la reserva: EMAIL, FECHA DE INICIO, FECHA DE FIN. Este formulario debería realiar una petición de tipo POST a /apartment/new-reservation. ACORDAOS que hay que pasar el identificador del apartamento en un <input:hidden>. Cómo hacerlo? Mirad la vida new-apartment.ejs -->
                    <h2>Datos de la reserva</h2>
                    <form action="/apartment/new-reservation" method="post">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required>
                        <label for="startDate">Fecha de inicio </label>
                        <input type="date" name="startDate" id="startDate">
                        <label for="endDate">Fecha de fin</label>
                        <input type="date" name="endDate" id="endDate">
                        <input type="submit" value="Reservar">
                    </form>
                    <p>Mostrar botón de reservar con sus campos de fecha de inicio...fecha de fin, etc.</p>
                    <% } %>

    </footer>
</body>

</html>