<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add New Apartment</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <h1>
        <%= apartment._id? 'Edit' : 'Add New' %> Apartment
    </h1>
    <main class="container">
        <form action="/admin/apartment/new-apartment" method="POST">
            <input type="hidden" name="id" id="id" value="<%= apartment._id %>">
            <label for="title">Título</label>

            <input type="text" name="title" id="title" required maxlength="30" value="<%= apartment.title %>">
            <label for="description">Descripción</label>
            <textarea rows="5" name="description" id="description"><%= apartment.description %> </textarea>
            <!-- TODO: Precargar todos los campos que nos faltan del formulario: price, size, etc.-->
            <label for="price">Precio por noche</label>
            <input type="number" name="price" id="price" required min="0" value="<%= apartment.price %>">
            <label for="size">M <sup>2</sup></label>
            <input type="number" name="size" id="size" required min="0" value="<%= apartment.size %>">
            <label for="mainPhoto">Foto principal</label>
            <img id="preview-photo" src="<%= apartment.mainPhoto %>" alt="">
            <input type="url" name="mainPhoto" id="mainPhoto" required value="<%= apartment.mainPhoto  %>">
            <button type="button" style="margin-bottom: 1rem;background-color: rgb(155, 108, 20)"
                id="upload_widget">Subir
                Foto</button>
            <!-- TODO: Añadir nuevo cuando estemos en añadir apartmento. Pero al editar apartamento debería leerse "Guardar cambios"-->
            <input type="submit" value="<%= apartment._id? 'Guardar Cambios': 'Añadir nuevo' %>">
        </form>
    </main>

    <script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">
        var myWidget = cloudinary.createUploadWidget({
            cloudName: 'diimb3b8g',
            uploadPreset: 'public-preset'
        }, (error, result) => {
            if (!error && result && result.event === "success") {
                console.log('Done! Here is the image info: ', result.info);

                // guardamos la URL de la foto en el campo input
                document.querySelector('#preview-photo').src = result.info.url;

                document.querySelector('#mainPhoto').value = result.info.url;
                document.querySelector('#mainPhoto').style.display = "none";

            }
        }
        )

        document.getElementById("upload_widget").addEventListener("click", function () {
            myWidget.open();
        }, false);
    </script>
</body>

</html>